@model BusinessLogicLayer.UserBLL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserBLL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
